body {
  margin: 0;
  font-family: sans-serif;
}

.slide {
  display: flex;
  justify-content: center;  /* horizonal center */
  align-items: center;  /* vertical center */
  height: 100vh;  /* vh = 1% of the height of the viewport */
}

.slide b {  /* any <b> element inside of an element with class "slide" */
  font-family: sans-serif;
  font-size: 40px;
  color: white;
}

.slide img {  /* any <img> element inside of an element with class "slide" */
  height: 50vh;
  padding-left: 20px;
}

#slide1 {
  background: lightblue;
}

#slide2 {
  background: lightpink;
}

#slide3 {
  background: lightgreen;
}

.poll_question {
  font-family: sans-serif;
}

#candidates {
  background-image: url("https://media1.s-nbcnews.com/i/newscms/2019_24/2895036/190613-debate-candidate-collage-2-cs-111p_368693ea79ea8df02111df2748027ce3.jpg");
  background-size: contain;
  height: 100vh;
  width: 100vw;
  box-shadow: 0 0 8px 8px white inset;
}
